body {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}
#map-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
#map {
  height: 100%;
}

#pgr-brand {
    font-weight: bold;
}

#content {
	margin-left: 15px;
	margin-right: 15px;
}

footer {
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: silver;
	text-align: center;
}

#edit_buttons {
    text-align: center;
    margin-top: 5px;
}
