<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Where's your next coffee{% endblock %} - WRITING.BLACK</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<meta property="og:image" content="/static/favicon.png"/>
    {% block head %}{% endblock %}
</head>
<body>
<nav id="navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- navbar header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pgnavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="pgr-brand">
        WRITING.BLACK
      </a>
      <p class="navbar-text">{{ title }}</p>
    </div>
    <!-- navbar etc -->
    <div class="collapse navbar-collapse" id="pgnavbar">
    <form class="navbar-form navbar-left" role="create" action="/pgops" method="POST">
        <input type="hidden" name="op" value="create">
        <div class="form-group">
          <input type="text" name="newtitle" class="form-control" placeholder="Page title">
        </div>
        <button type="submit" class="btn btn-default">Create page</button>
    </form>
	{% if editable %}
	<form class="navbar-form navbar-left" method="GET">
		<input type="hidden" name="edit" value="1">
		<button type="submit" class="btn btn-warning">Edit page</button>
		<button type="button" class="btn btn-warning" onclick="share_page()">Share page editing</button>
	</form>
	{% endif %}
    <form class="navbar-form navbar-right" role="search" action="/search" method="GET">
        <button type="submit" class="btn btn-default">Search</button>
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
    </form>
    
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}
<footer>
	<p>You have viewed a WRITING.BLACK page {{ counter }} times.<br>
	The content retains the authorship and &copy; rights of their authors. 
	The web engine is &copy; 2016. <a href="mailto:ivoras@gmail.com">WRITING.BLACK developers</a></p>
</footer>
</body>
</html>
