{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}{% if editing %}
    <script src="/static/js/tinymce.min.js"></script>
{% endif %}{% endblock %}
{% block content %}
<div id="content">
{% if editing %}
<form action="/pgops" method="POST">
	<input type="hidden" name="op" value="edit">
	<input type="hidden" name="id" value="{{ id }}">
	<input type="text" name="title" value="{{ title }}" style="width: 100%">
	<textarea name="html" style="width: 100%; height: 60%">{{ html }}</textarea>
	<div id="edit_buttons">
		<button type="button" class="btn btn-default" style="width: 49%" onclick="window.location='/p/{{ pgid }}';">Cancel</button>
		<button type="submit" class="btn btn-warning" style="width: 49%">Save</button>
	</div>
</form>
{% else %}
{{ html|safe }}
{% endif %}
{% if editable %}
<div class="modal fade" role="dialog" id="share_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share this page</h4>
      </div>
      <div class="modal-body">
      <p>Share the following link to others whom you want to allow editing of this page:</p>
	<p><b><a href="#" id="edit_link"></a></b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endif %}
</div>

<script type="text/javascript">
{% if editing %}
$(function() {
	tinymce.init({ 
		selector: 'textarea',
		plugins: ["link"],
		toolbar: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link"
	});
});
{% endif %}
{% if editable %}
function share_page() {
	$.ajax({
		'method': 'GET',
		'url': '/api/get_edit_url',
		'data': { 'id': '{{ id }}' }
	}).done(function(result) {
		if (result.Ok) {
			$('#edit_link').text("http://" + location.hostname + result.Url);
			$('#edit_link').attr('href', result.Url);
			$('#share_modal').modal();	
		} else
			alert("Cannot get sharing link!");
	});
}
{% endif %}
</script>
{% endblock %}
