<h1>Welcome to WRITING.BLACK</h1>

<p>This is a trivial, text-only, free-for-all page-editing CMS. Think of it as a different pastebin. Here are the rules:</p>

<p>
<ul>
	<li>Create new pages by entering a title and clicking <i>Create page</i>.</li>
	<li>Send out the link to the page you made, share it any way you want.</li>
	<li>By default, only you can edit the page, on your current browser.</li>
	<li>If you want to allow someone else to edit the page (including you on another browser), you need to click <i>Share page editing</i> and send them a special link.</li>
	<li>Page creation and editing is anonymous. That said, any content which seems remotely abusive or illegal will be promptly deleted by the moderators.</li>
</ul>
</p>

<p>This is an open source project, whose <a href="https://bitbucket.org/ivoras/pgred/">source is available on BitBucket</a>.</p>

<p>I've made this to learn programming in <a href="https://golang.org/">Go</a>. Have fun!</p>
