{% extends "base.html" %}
{% block title %}SEARCH: {{ q }}{% endblock %}
{% block content %}
<div id="content">

{% for res in results %}
<div class="search_result">
	<a href="/p/{{ res.pgid }}">{{ res.title }}</a>
</div>
{% endfor %}
<div class="result_count">{{ nresults }} page(s) found.</div>

</div>

<script type="text/javascript">
</script>
{% endblock %}